.video{
    list-style: none;
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    cursor: pointer;
    transition: transform .25s ease-in;
    padding: .2em;
    box-shadow: 3px 3px 5px 0px rgba(191, 191, 191, .53);
}

.video.list{
    width: 100%;
}

.video.grid{
    width: 50%;
}

.video:hover{
    transform: scale(1.02);
}

.metadata{
    margin-left: .2em;
}
.thumbnail{
    width: 40%;
}
.title, 
.channel{
    margin: 0;
    font-size: 0.8rem;
}

.channel{
    font-size: .rem;

}